:root {
  --arine-blue: hsl(213, 96%, 18%);
--Purplish-blue: hsl(243, 100%, 62%);
--Pastel-blue: hsl(228, 100%, 84%);
--Light-blue: hsl(206, 94%, 87%);
--Strawberry-red: hsl(354, 84%, 57%);

/* Neutral */

--Cool-gray: hsl(231, 11%, 63%);
--Light-gray: hsl(229, 24%, 87%);
--Magnolia: hsl(217, 100%, 97%);
--Alabaster: hsl(231, 100%, 99%);
--White: hsl(0, 0%, 100%);
}

.App {
  text-align: center;
}
.App-header {
  background-color: var(--Magnolia);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000b26;
}
.background{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
  background-image:  url(./bg-sidebar-desktop.svg);
  border-radius: 20px;
  margin-left: 2%;
  margin-right: 2%;
}
.step
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  
}
.step-number
{
  border: 1px var(--Light-blue) solid;
  border-radius: 50%;
  line-height: 1.35em;
  width: 4vw;
  height: 4vw;
  font-size: larger;
  margin-right: 6%;
  color: white;

}
#active-step-number
{
  background-color: var(--Light-blue);
  border-radius: 50%;
  line-height: 1.35em;
  width: 4vw;
  height: 4vw;
  font-size: larger;
  margin-right: 6%;
  color: black;
}
.step-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0;
}
.step-text h5{
  margin-top: 0;
  color: white ;
}
.step-text p{
  color: var(--Pastel-blue);
  margin-bottom: 1%;
  text-align: left;

}
.form-background
{
  align-self: center;
  margin-top: 0 !important;
  width: 75vw;
  background-color: white;
  border-radius: 20px;
  display: flex;
  height: 79vh;
  align-items: center;


}

.form-body
{
  display: flex;
  flex-direction: column ;
  align-items: flex-start;
  align-self: flex-start;
  margin-right: 15%;
  height: 100%;
  color: var(--arine-blue);
  width: 60%;
}
.form-body h2{
  justify-self: flex-start;
  align-self: flex-start;
  margin-left: 15%;
  color: var(--arine-blue);
}
.form-body label{
  margin-bottom: 4%;
  color: var(--arine-blue);

}
.form-body input{
  width: 35vw;
  height: 5vh;
  margin-bottom: 5%;
}
.submit
{
  align-self: flex-end;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 30%;
  height: 5vh;
  font-size: 0.6em;
  background-color:#000b26;
  border-radius: 7px;
}
.hidden{
  display: none;
}
.select-plan-container
{
  justify-self: flex-start;
  align-self: flex-start ;
  display: flex;
  margin: 5%;
  font-size: 1em;
  height: 100%;
  width: 36vw;

}
.select-plan
{
  margin: 2%;
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100%;
  height: 30%;
  border-radius: 5px;
  border: 1px var(--Light-gray) solid;
  background-color: white;
}
.select-plan:hover
{
  border: 1.2px black solid;
}
